%truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
%inner { max-width:$inner; margin-left: auto; margin-right: auto; }
%big-inner { padding-left: 20px; padding-right: 20px; }