figure.social { text-align: center; padding-top: 10px; padding-bottom: 10px;
  > .inner { @extend %inner; }
  a { display: inline-block; width: 23%; max-height: 100px; max-width: 100px; margin-left: 3em; margin-right:3em; }
}

.social {
  &.flattr { color:#89b443;
    .top-left { fill:#f9ad33; }
    .bottom-right { fill:#89b443; }
  }
  &.github { color:#fff; }
  &.twitter { color:#55acee; }
  &.facebook { color:#6279B1; }
  &.googleplus { color:#D34836; }
  svg { transform: rotate(0); transition: all 0.3s ease;}
  a:hover svg { transform: rotate(360deg) scale(1.2); }
  span { display: block; }
}